{
    "auth": {
        "enabled": false,
        "type": "activedirectory",
        "config": {
            "url": "ldaps://foo.bar.org:636",
            "search_base": "DC=bar,DC=org",
            "bind_dn": "CN=inventory_svc,OU=Services,OU=Bar,DC=bar,DC=org",
            "bind_password": "..."
        },
        "caching": { 
            "ttl": 7200
        },
        "groups_file": "local-groups.json"
    },
    "datastore": {
        "type": "elasticsearch",
        "config": {
            "host": "localhost",
            "port": 9200,
            "index": "inventory",
            "mapping_file": "etc/mapping.json"
        },
        "backup_dir": "backups"
    },
    "endpoints":{
        "prefix": "/v1"
    },
    "asset": {
        "required_fields": ["status", "environment"]
    }
}